
/* COMPONENTS */
.App {
  position: absolute;
  text-align: center;
  margin: 2.5vmin;
  left: 50%;
  transform: translate(-50%, 0%);
}

.App-header {
  margin: 5vmin;
  padding: 5vmin;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  -webkit-font-smoothing: subpixel-antialiased;

  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
  border: 1vmin solid black;
  color: black;
}

.bruh {
  color: white;
}

.seperator {
  font-size: 5vmin;
  margin: 0px;
}

/* MODIFIERS */
.med-img {
  width: 50vmin;
  height: 28vmin;
  margin-right: 2vmin;
  border: 1vmin solid #222;
}

.big-img { 
  width: 80vmin;
  height: 46vmin;
  border: 2vmin solid #222;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon {
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
}

.light {
  background-color: white;
}

.button:hover {
  background-color: rgb(69, 78, 93);
}

.page {
  max-width: 110vmin;
  min-width: 80vmin;
  z-index: 0;
  padding: 5vmin;
  opacity: 90%;
}

/* ELEMENTS */
h1 {
  font-size: calc(10px + 7vmin);
}

h2 {
  font-size: calc(10px + 5vmin);
}

p {
  font-size: calc(10px + 1.2vmin);
  font-weight: 400;
  font-style: normal;
  margin: 2vmin;
  text-align: left;
  line-height: 1.6;
}

li {
  font-size: calc(10px + 1.2vmin);
  font-weight: 400;
  font-style: normal;
  margin: 2vmin;
  text-align: left;
  line-height: 1.6;
}

/* KEYFRAMES */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move-right-0 {
  from {
    left: 50%;
  } to {
    left: -100%;
  }
}

@keyframes move-right-1 {
  from {
    left: 200%;
  } to {
    left: 50%;
  }
}

@keyframes move-left-0 {
  from {
    left: 50%;
  } to {
    left: 200%;
  }
}

@keyframes move-left-1 {
  from {
    left: -100%;
  } to {
    left: 50%;
  }
}